body{
	background-color: #ECE4B7;
}

.jumbotron{
	background-color: #92896B;
	color: #ECE4B7;
}

.caraClass{
	margin-bottom: 30px;
}

.caraClass h3{
	color: red;
}

.lukesFace{
	width: 175px;
	height: 175px;
	display: inline-block;
}

.devCard{
	background-color: #ECE4B7;
	border-width: 8px;	
}

.longCard{
	background-color: #ECE4B7;
	border-width: 8px;
	margin-bottom: 30px;
}

footer{
	background-color: #92896B;
	color: #ECE4B7;
}	

footer a{
	color: #ECE4B7;
}

@media only screen and (max-width: 767px){

.dissapearsmall{
display: none
}

}