body{
	background-color: #ECE4B7;
	font-family: Arial, Helvetica, sans-serif;
}

h4{
	text-decoration: underline;
}

.navCol{
	background-color: #92896B;
}

.red a{
	color: #ECE4B7;
}

.jumbotron{
	background-color: #92896B;
	color: #ECE4B7;
}

.caraClass{
	margin-bottom: 30px;
}

.caraClass h3{
	color: #02020B;
}

.lukesFace{
	width: 175px;
	height: 175px;
	display: inline-block;
}

.devCard{
	background-color: #ECE4B7;
	border-width: 8px;	
	color: #02020B;
}

.devCard a{
	color: #02020B;
}

.longCard{
	background-color: #ECE4B7;
	color: #02020B;
	border-width: 8px;
	margin-bottom: 30px;
}

footer{
	background-color: #92896B;
	color: #ECE4B7;
}	

footer a{
	color: #ECE4B7;
}

@media only screen and (max-width: 767px){

.dissapearsmall{
display: none
}

}